* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1 {
    position: absolute;
    font-size: 125px;
    text-align: center;
    z-index: 1;
    color: aliceblue;
} */
.home {
    /* position: relative; */
    background: linear-gradient(white 50%,black 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 0; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
/* .home:active{
    background: linear-gradient(black 50%,white 50%);
} */

#null {
    color: white;
    font-size: 300px;
}
#left {
    width: 100px;
    height: 50px;
    background-color: grey;
    transition: 0.3s;
}

#right {
    width: 100px;
    height: 50px;
    background-color: grey;
    transition: 0.3s;
    
}

#left:hover {
    transform: scale(2s);
    border: none;
    background: white;
}

#right:hover {
    transform: scale(2s);
    border: none;
    background: white;
}
.button::after {
    content: '';
    
}
